.container1, .container2 {
  width: 300px;
  margin: 0 auto;
}
.container2 {
  width: 700px;
}
.container1 h1{
  text-shadow: 2px 2px 2px black;
  color: red;
}
#username {
  margin-bottom: 10px;
}
.form-group {
  padding-top: 120px;
}
.right {
  float: right;
  margin-right: 5px;
}
.logout {
  margin-top: 10px;
}
.red {
  color: red;
}
.user {
  font-weight: bold;
}
.userlist {
  margin-top: 30px;

}
.otherusers {
  margin-left: 10px;
}
.itemlist {
  margin-left: 10px;
}
